/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: #f2f2f2; }

.main-container {
    padding-top: 50px;
}

.error-span {
    transform: translateY(-15px);
    color:red;
}

.text-end {
    text-align: right;
}